name: Verify README

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify README
        run: bash utils/verify-readme.sh
